<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Hair Salon Manager</title>
    </head>
    <body>
        <h1>Hair Salon Manager</h1>
        <div class="container">
            <h2>{{ editstylist.getStylistName }}</h2>
            <form class="form-group" action="/updatestylist/{{ editstylist.getId }}" method="post">
                <input type="hidden" name="_method" value="patch">
                <label for="update-stylist">Edit:</label>
                <input class="form-control" type="text" name="update"><br>
                <button class="btn btn-warning" type="submit">Update</button>
            </form>
        </div>
    </body>
</html>
