<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <title>Hair Salon Manager</title>
    </head>
    <body>
        <h1>Hair Salon Manager</h1>
        <div class="container">
            <h2>Stylist:</h2>
            <form class="form-group" action="/stylist" method="post">
                <label for="stylist">New Stylist:</label>
                <input class="form-control" type="text" name="stylist"><br>
                <button class="btn btn-success" type="submit">Save</button>
            </form>
            {% if stylists is not empty %}
                <h2>Stylist List:</h2>
                <ul>
                    {% for stylist in stylists %}
                        <li><a href="#">{{ stylist.getStylistName }}</a></li>
                        <span><a class="btn btn-warning" href="/edit-stylist/{{ stylist.getId }}">Edit</a></span>
                        <span><a class="btn btn-danger" href="/edit-stylist/{{ stylist.getId }}">Delete</a></span>
                    {% endfor %}
                </ul><br>
                <form class="form-group" action="/delete-all" method="get">
                    <button class="btn btn-danger" type="submit">Delete list</button>
                </form>
            {% endif %}
        </div>
    </body>
</html>
