<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hair Salon Manager</title>
        <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Oxygen" rel="stylesheet">
        <link rel="stylesheet" href="{{app.request.getbaseurl}}/css/styles.css">
    </head>
    <body>
        <div class="container">
            <h1>Hair Salon Manager</h1>
            <h2>Update Stylist: {{stylist.getStylistName}}</h2>
            <form class="form-group" action="/stylist/{{stylist.getId}}" method="post">
                <input type="hidden" name="_method" value="patch">
                <input class="form-control" type="text" name="stylist_name" required><br>
                <button class="btn btn-warning" type="submit">Update Stylist</button>
            </form>

            <form action="/stylist/{{stylist.getId}}" method="post">
                <input type="hidden" name="_method" value="delete"><br />
                <button class="btn btn-danger" type="submit">Delete Stylist</button>
            </form>
        </div>
    </body>
</html>
